### Importing Libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats
import pylab
sns.set()

### Importin data and creating a copy

In [2]:
data_backup = pd.read_csv('Index2018.csv', index_col = 'date')
data_backup.head()

               spx      dax     ftse    nikkei
date
07/01/1994  469.90  2224.95  3445.98  18124.01
10/01/1994  475.27  2225.00  3440.58  18443.44
11/01/1994  474.13  2228.10  3413.77  18485.25
12/01/1994  474.17  2182.06  3372.02  18793.88
13/01/1994  472.47  2142.37  3360.01  18577.26

In [3]:
data = data_backup.copy()

### Examining the data

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6269 entries, 07/01/1994 to 29/01/2018
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   spx     6269 non-null   float64
 1   dax     6269 non-null   float64
 2   ftse    6269 non-null   float64
 3   nikkei  6269 non-null   float64
dtypes: float64(4)
memory usage: 244.9+ KB

In [5]:
data.describe()

               spx           dax         ftse        nikkei
count  6269.000000   6269.000000  6269.000000   6269.000000
mean   1288.127542   6080.063363  5422.713545  14597.055700
std     487.586473   2754.361032  1145.572428   4043.122953
min     438.920000   1911.700000  2876.600000   7054.980000
25%     990.671905   4069.350000  4486.100000  10709.290000
50%    1233.420000   5773.340000  5662.430000  15028.170000
75%    1459.987747   7443.070000  6304.250000  17860.470000
max    2872.867839  13559.600000  7778.637689  24124.150000

In [6]:
data.isnull().sum()

spx       0
dax       0
ftse      0
nikkei    0
dtype: int64

### Plotting the data

In [7]:
plt.rcParams['figure.figsize'] = (20,8)

In [ ]:
vis1 = plt.plot(data.spx, label = 'spx')
vis2 = plt.plot(data.dax, label = 'dax')
vis3 = plt.plot(data.ftse, label = 'ftse')
vis4 = plt.plot(data.nikkei, label = 'nikkei')
plt.legend(loc = 'upper left', bbox_to_anchor = (1,1))
plt.show()

In [ ]:
scipy.stats.probplot(data.spx,plot = pylab)
plt.title('QQ Plot for SPX',size = 20)
plt.show()